
.circle,
.shape,
.value {
    vertical-align: middle
}

.info,
.legend {
    box-shadow: none
}

body {
  margin: 0; padding: 0; height: 100%; background-color:#F2F5F7;
}
#map {
	height: 90%; width:100%; margin: 0; 
     }
body,
html {
    height: 100%; width: 100%; 
}

.evenrowcol {
    background-color: #f6f6f6
}

.legend {
    padding: 6px 8px;
    font: 17px/1.5 Arial, sans-serif;
    background: #fff;
    border-radius: 5px;
    line-height: 2.5em;
    color: #2F5597
}


.legend i {
    width: 1.5em;
    height: 2.5em;
    float: left;
    margin-right: .4em;
    opacity: 1
}

.value {
    padding: 0 0 0 8px;
    text-align: left
}

.circle,
.mrkl,
.mrkm,
.mrks,
.shape {
    padding: 0;
    text-align: center
}

.ln {
    stroke: #03f;
    stroke-width: 3;
    stroke-opacity: 1;
    stroke-linecap: round
}

.plgn {
    fill: #03f;
    fill-opacity: .5;
    stroke: #03f;
    stroke-width: 3;
    stroke-opacity: 1;
    stroke-linejoin: round
}

.mrks {
    height: 30px
}

.mrkm {
    height: 40px
}

.mrkl {
    height: 52px
}

.info {
    padding: 6px 8px;
    font: 16px/20px Arial, sans-serif;
    color: #2F5597;
    background: #fff;
    box-shadow: 0;
    border-radius: 0;
    position:relative;
}


